.form-container {
    padding-left: 360px;
    width: 1px;
}

.form-container input {
    border-radius: 6px;
    border: 2px solid rgb(0, 191, 255);
    width: 374px;
}

.form-container button:hover {
    background-color: green;
    color: greenyellow;
    transition: 0.5s ease-in-out;
}

@media (max-width: 600px) {
    .form-container {
        padding: 0px;
    }
}

@media (max-width: 600px) {
    .form-container input {
        width: 270px;
    }
}

@media (max-width: 662px) {
    .form-container input {
        width: 250px;
    }
}

@media (max-width: 720px) {
    .form-container input {
        width: 230px;
    }
}

@media (max-width: 770px) {
    .form-container input {
        width: 210px;
    }
}

@media (max-width: 360px) {
    .form-container input {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .form-container input {
        width: 150px;
    }
}

@media (max-width: 426px) {
    .form-container input {
        width: 130px;
    }
}

@media (max-width: 1380px) {
    .form-container {
       padding: 20px;
    }
}