HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: rgb(0,56,111);
    background: skyblue;
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(32, 82, 218);
    outline: 2px solid slategray;
    border-radius: 18px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.753);
  }

@media (max-width: 500px) {
  body {
   .carousel .slide img {
    width: auto;
    height: 30vh;
   }
  }
}
@media (max-width: 1155px) {
  body {
   .carousel .slide img {
    width: auto;
    height: 35vh;
   }
  }
}

@media (max-width: 360px) {
  body {
   .carousel .slide img {
    width: auto;
    height: 20vh;
   }
  }
}

@import "./navbar.scss";
@import "./carousel.scss";
@import "./header.scss";
@import "./blog-pic.scss";
@import "./form-container.scss";
@import "./post-container.scss";
@import "./form-image-wrapper.scss";